@page
@model ForumForGaming.Pages.Admin.AdminCreateModel
@{
    ViewData["Title"] = "Admin Create";
}

<body class="admin-background">
@if (Model.AddItem == "Main")
{
    <div>
        <form method="post">
            <label asp-for="MainCategory.Title"></label>
            <br />
            <input asp-for="MainCategory.Title" />
            <br />
            <label asp-for="MainCategory.Description"></label>
            <br />
            <input asp-for="MainCategory.Description" />
            <br />
            <br />
            <input type="submit" name="add" class="btn background-color-darker" value="Create Maincategory" />
        </form>
    </div>
}
else if (Model.AddItem == "Sub")
{
    <form method="post" enctype="multipart/form-data">
        <label asp-for="SubCategory.Name"></label>
        <br />      
        <input asp-for="SubCategory.Name" />
        <br />
            <label asp-for="SubCategory.MainCategoryId">MainCategories</label>
            <br />
        <select asp-for="SubCategory.MainCategoryId" name="SubCategory.MainCategoryId">
            <option value="">Select a category</option>
            @foreach (var category in Model.MainCategories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
        <br />
        <br />
        <input type="submit" name="add" class="btn background-color-darker" value="Create SubCategory" />
    </form>
}
else
{
        <a asp-route-CreateItem="Main" class="btn background-color-darker"><label>Create a Main Category</label></a>
        <a asp-route-CreateItem="Sub" class="btn background-color-darker"><label>Create a Sub Category</label></a>
}
</body>