html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.indexbody {
    background-image: url("../Pictures/ConsolesBackground.jpg");
    background-size: cover;
}


img {
    width: 60px !important;
    height: 60px;
    vertical-align: top;
}

.limited-width-textarea
{
    max-width: 400px;
    width: 100%;
}


.gray-background {
    background-color: lightgray;
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid;
    margin-left: 60px;
    margin-top: 10px;
}

.profile-border {
    margin-bottom: 3px;
    border: 1px solid;
}

.comment {
    margin-left: 20px;
    margin-top: 5px;
}

.form-postion
{
   margin: 20px;
}

.comment-date
{
    float: right;
}
.comment-username
{
    font-size: 24px;
}

.tr-link
{
    cursor: pointer;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
}
.posttext {
    font-size: 24px;
    width: 66.66%;
}
.author, .created {
    width: 16.67%;
}

th {
    border-bottom: 2px solid black; 
    padding: 8px;
}

td {
    padding: 8px;
}

tr:not(:first-child) td {
    border-top: 2px solid #ccc;
}

.private-bottom-border {
    border-bottom: 3px solid black;
    padding: 8px;
}

.private-send{
    margin-left: 30px;
    margin-top: 10px;
}

.private-send-btn{
    margin-bottom: 10px;
}

.private-message
{
    margin-left: 10px;
    margin-bottom: 10px;
}

.private-title
{
    font-weight: 500;
    justify-content: left;
}

.admin-background {
    background-color: #4f200f;
    color: #fff;
}

.logo
{
    height: 50px;
}

.admin-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

.admin-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

    .admin-group span {
        font-size: 16px;
        color: #333;
    }

.admin-background-hover {
    background-color: #4f200f;
    color: #fff;
}
    .admin-background-hover:hover {
        background-color: rgba(79,32,15, 0.5);
    }


.navbar-color {
    background-color: #ffc18c !important;
}

.footer-bar {
    background-image: none;
    background-color: #ffc18c !important;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
}

.category-group {
    display: flex;
    flex-direction: column;
}

.main-category-btn {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.subcategory-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 20px;
}

.sub-category-btn {
    font-size: 1em;
    padding: 5px 10px;
}

.background-color {
    background-color: #ffc18c !important;
    color: black;
}
.background-color-darker-nohover {
    background-color: #da6d42;
}

.background-color-darker {
    background-color: #da6d42;
}

    .background-color-darker:hover {
        background-color: rgba(218, 109, 66, 0.5);
    }

table.background-color-darker-table tbody tr.background-color-darker {
    background-color: #da6d42;
}

    table.background-color-darker-table tbody tr.background-color-darker:hover {
        background-color: rgba(218, 109, 66, 0.5);
    }

table.background-color-darker-table thead {
    background-color: #da6d42;
}

.clickable-row {
    cursor: pointer;
}


.styled-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}

    .styled-list .clickable-item {
        padding: 8px;
        border-top: 1px solid #ccc;
        cursor: pointer;
    }

        .styled-list .clickable-item:first-child {
            border-top: none;
        }

    .styled-list a {
        text-decoration: none;
        font-size: 24px;
        width: 100%;
        display: block;
    }