@page
@model ForumForGaming.Pages.AdminModel
@{
}
<body class="admin-background">
<ul class="styled-list">
    <li data-href="/Admin/AdminChange" class="clickable-item">
            <a class="btn background-color-darker">Admin Change</a>
    </li>
    <li data-href="/Admin/AdminCreate" class="clickable-item">
            <a class="btn background-color-darker">Admin Create</a>
    </li>
    <li data-href="/Admin/AdminDelete" class="clickable-item">
            <a class="btn background-color-darker">Admin Delete</a>
    </li>
    <li data-href="/Admin/AdminReported" class="clickable-item">
            <a class="btn background-color-darker">Admin Reported</a>
    </li>
    <li data-href="/Admin/AdminManageRoles" class="clickable-item">
            <a class="btn background-color-darker">Admin ChangeRoles</a>
    </li>
    <li data-href="/Admin/AdminSiteInfo" class="clickable-item">
            <a class="btn background-color-darker">Admin Site Info</a>
    </li>
    </ul>
</body>