@page
@model ForumForGaming.Pages.AdminModel
@{
}
<ul>
    <li>
        <a class="btn btn-primary" asp-area="" asp-page="/Admin/AdminChange">Admin Change</a>
    </li>
    <br />
    <li>
        <a class="btn btn-primary" asp-area="" asp-page="/Admin/AdminCreate">Admin Create</a>
    </li>
    <br />
    <li>
        <a class="btn btn-primary" asp-area="" asp-page="/Admin/AdminDelete">Admin Deleted</a>
    </li>
    <br />
    <li>
        <a class="btn btn-primary" asp-area="" asp-page="/Admin/AdminReported">Admin Reported</a>
    </li>
    <br />
    <li>
        <a class="btn btn-primary" asp-area="" asp-page="/Admin/AdminManageRoles">Admin ChangeRoles</a>
    </li>
</ul>